*{
    font-family: "Noto Sans", "メイリオ", sans-serif;
}

body{
    background-color: #101010;
    color: white;
    padding: 0px;
    margin: 0px;
    padding-top: 250px;
}

/* 箱の色の定義 */
.box{
    color: #FFFFFF;
    font-size: medium;
    width: 200px;
    height: calc-size(auto, size - 12px);
    padding: 5px;
    user-select: none;
    position: absolute;
    background-color: #303030;
}

.box.clicked{
    background-color: #505050;
}

.box.strconv{
    background-color: hsl(0, 30%, 15%);
}

.box.strconv.clicked{
    background-color: hsl(0, 30%, 35%);
}


.box.posconv{
    background-color: hsl(60, 30%, 15%);
}

.box.posconv.box.clicked{
    background-color: hsl(60, 30%, 35%);
}

.box.code{
    background-color: hsl(115, 30%, 15%);
}

.box.code.box.clicked{
    background-color: hsl(115, 30%, 35%);
}


.box.math{
    background-color: hsl(224, 30%, 15%);
}

.box.math.clicked{
    background-color: hsl(224, 30%, 35%);
}
.top_io_bar{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #101010;
    position: fixed;
    font-size: large;
    top: 0;
    left: 0;
    z-index: 100;
    /* border-bottom: 10px solid #A0A0A0; */
}

.text_box{
    background-color: #101010;
    color: white;
    width: 100%;
    height: max-content;
    resize: none;
    margin-top: 10px;
    height: 40px;
    font-size: small;
    overflow-wrap: anywhere;
    overflow: hidden;
}

.cipher_title{
    font-size: large;
}

input{
    width: auto;
    height: auto;
    background-color: #000000;
    color: white;
    user-select: none;
}

select{
    background-color: #FFFFFF30;
    color: white;
    width: 150px;
}

.cipher_result{
    font-size: medium;
}

.main_area{
    width: 100%;
    height: 1000px;
}

.flex{
    display: flex;
    margin: 0px;
}


html{
    padding: 0px;
}

select{
    background-color: #303030;
    color: #FFFFFF;
    font-size: medium;
}

.plus_button {
    background-color: #808080;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: calc(50% - 8px);
    margin-top: 2px;
}

.plus_button::before {
    content: '';
    display:  inline-block;
    background-color: #404040;
    height: 12px;
    width: 4px;
    position:  relative;
    left: 6px;
    top: 2px
}
.plus_button::after {
    content: '';
    display:  inline-block;
    background-color: #404040;
    height: 12px;
    width: 4px;
    position:  relative;
    transform: rotate(90deg);
    top: 2px;
    left: 2px;
}

.plus_button:hover{
    background-color: #dbe8af;
}

.div_id{
    font-size: xx-small;
    position: absolute;
    top: 2px;
    width: 100px;
    left: calc(100% - 115px);
    text-align: right;
    color: #A0A0A0;
}

textarea{
    user-select: none;
    background-color: #000000;
    width: calc(100% - 40px);
    resize: vertical;
    color: white;
}

.top_id{
    padding-left: 20px;
    font-size: medium;
    color: #A0A0A0;
}

.box_sp *{
    margin-top: 5px;
    font-size: small;
}

.type_strconv{
    background-color: hsl(0, 30%, 15%);
}

.type_strswap{
    background-color: hsl(65, 30%, 15%);
}

.type_code{
    background-color: hsl(110, 30%, 15%);
}

.type_math{
    background-color: hsl(217, 30%, 15%);
}

.small{
    font-size: small;
}

input[type=radio] {
    display: none;
}

.label {
    padding: 2px;
    background-color: #404040;
    color: #D0D0D0;
}

input[type="radio"]:checked + label {
    background-color: hsl(0, 60%, 35%);
}

.del_btn{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -3px;
    left: calc(100% - 12px);
    font-size: small;
}

.del_btn:hover{
    color: red;
}

.num_input{
    width: 50px;
}

.top_text{
    font-size: large;
}

.type_change_btn{
    width: 15px;
    height: 15px;
    top: 10px;
    margin-top: 10px;
    background-color: #FFFFFF30;
    font-size: 10px;
    display:  inline-block;
    color: black;
    overflow: hidden;
}

.type_change_btn:hover{
    background-color: #FF000030;
}